    <script src="/javascripts/bundle.js"></script>
    <script src="/javascripts/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.MYAPIKEY%>&callback=initMap"
  type="text/javascript"></script>
  </body>
</html>
