<% include partials/header %>

<h1><%= title %></h1>

<div id="task-container"></div>

<div class="panel panel-default col-md-offset-6 map-panel">
  <div class="panel-body">

  </div>
</div>

<div id="map" class="col-md-offset-6"></div>



<% include partials/footer %>
