body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 40%
}

/*.task-panel, .task-panel {
  min-height: 10;
  max-height: 10;
  min-width: 10;
  max-width: 10;
  overflow-y: scroll;
}*/
